<?xml version='1.0' encoding='utf-8'?>
<widget id="no.uio.mobileapps.viva2" version="2.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="VIVA">VIVA</name>
    <description>
        Securely record and process classroom videos
    </description>
    <author email="engagelab@uv.uio.no" href="https://www.uv.uio.no/iped/om/engagelab/">
        Engagelab Team
    </author>
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <access origin="android-webview-video-poster:*" />
    <allow-navigation href="viva:*" launch-external="yes" />
    <allow-navigation href="mailto:*" launch-external="yes" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="oauth:*" />
    <allow-intent href="android-webview-video-poster:*" />
    <hook src="scripts/patchVersionNumber.js" type="before_prepare" />
    <platform name="ios">
        <preference name="scheme" value="viva" />
        <preference name="hostname" value="localhost" />
        <preference name="WKWebViewOnly" value="true" />
        <edit-config file="*-Info.plist" mode="merge" target="NSBluetoothAlwaysUsageDescription">
            <string>VIVA does not make use of bluetooth, but included libraries provide bluetooth functionality</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>VIVA requests your permission to record video</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSMicrophoneUsageDescription">
            <string>VIVA requests your permission to record audio</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSAllowsArbitraryLoads">
            <true />
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="UIStatusBarHidden">
            <true />
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="UIViewControllerBasedStatusBarAppearance">
            <false />
        </edit-config>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="OverrideUserAgent" value="Mozilla/5.0 Google" />
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarBackgroundColor" value="transparent" />
        <preference name="iosPersistentFileLocation" value="Library" />
        <preference name="UseSwiftLanguageVersion" value="5.1.1" />
        <preference name="WKWebViewOnly" value="true" />
        <icon height="20" src="../src/assets/icons/ios/config/icon-20.png" width="20" />
        <icon height="40" src="../src/assets/icons/ios/config/icon-20@2x.png" width="40" />
        <icon height="60" src="../src/assets/icons/ios/config/icon-20@3x.png" width="60" />
        <icon height="29" src="../src/assets/icons/ios/config/icon-29.png" width="29" />
        <icon height="58" src="../src/assets/icons/ios/config/icon-29@2x.png" width="58" />
        <icon height="87" src="../src/assets/icons/ios/config/icon-29@3x.png" width="87" />
        <icon height="40" src="../src/assets/icons/ios/config/icon-40.png" width="40" />
        <icon height="80" src="../src/assets/icons/ios/config/icon-40@2x.png" width="80" />
        <icon height="120" src="../src/assets/icons/ios/config/icon-40@3x.png" width="120" />
        <icon height="120" src="../src/assets/icons/ios/config/icon-60@2x.png" width="120" />
        <icon height="180" src="../src/assets/icons/ios/config/icon-60@3x.png" width="180" />
        <icon height="76" src="../src/assets/icons/ios/config/icon-76.png" width="76" />
        <icon height="152" src="../src/assets/icons/ios/config/icon-76@2x.png" width="152" />
        <icon height="167" src="../src/assets/icons/ios/config/icon-83.5@2x.png" width="167" />
        <icon height="1024" src="../src/assets/icons/ios/config/icon-1024.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />
    </platform>
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>
        <resource-file src="network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <icon density="ldpi" src="../src/assets/icons/android/ldpi.png" />
        <icon density="mdpi" src="../src/assets/icons/android/mdpi.png" />
        <icon density="hdpi" src="../src/assets/icons/android/hdpi.png" />
        <icon density="xhdpi" src="../src/assets/icons/android/xhdpi.png" />
        <icon density="xxhdpi" src="../src/assets/icons/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="../src/assets/icons/android/xxxhdpi.png" />
        <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
</widget>
